html {
    background-color: #0b7462;
}

body {
    margin: 0px;
    padding: 0px;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #08443e;
    color: lightgoldenrodyellow;
    font-size: 32px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    font-size: 32px;
    
    color: white;
    padding: 30px
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    font-size: 20px;
    font-weight: 800;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

button:hover {
    background-color: #3c4047;
    transform: scale(1.5);
}

button {
    width: 160px;
    height: 160px;
    font-size: 80px;
    font-weight: 800;
    background-color: #272a2f;
    cursor: pointer;
    border-radius: 5%;
    transition: transform .4s ease-in-out;
}

.footer {
    background-color: #08443e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 42px;
    color: white;
    gap: 20px;
    height: 300px;
}

.footer p:hover {
    transform: rotate(5deg);
}

.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: scale(2);
    cursor: pointer;
  }

