html {
    background-color: lightslategray;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    color: black;
    font-size: 32px;

}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    background-color: lightgoldenrodyellow;
    font-size: 24px;
    font-weight: 800;
    padding: 30px
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    font-size: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: lightcyan;
    padding: 50px;
}

button {
    width: 150px;
    height: 75px;
    font-size: 24px;
    font-weight: 800;
}

