html {
    background-color: #222831;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #111720;
    color: goldenrod;
    font-size: 32px;
    margin: none;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    color: white;
    padding: 30px
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    font-size: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

button:hover {
    background-color: #4a4f57;
}

button {
    width: 160px;
    height: 160px;
    font-size: 80px;
    font-weight: 800;
    background-color: #393e46;
    cursor: pointer;
    border-radius: 5%;
}

